.projectsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 280px), 1fr));
    gap: 16px;
}

@media (width >= 800px) {
    .projectsContainer {
        gap: 24px;
    }
}
